@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    @apply bg-[#f8f9fa] text-gray-900;
  }
}

html.dark {
  filter: invert(1) hue-rotate(180deg);
  background-color: #111;
}

html.dark img,
html.dark video,
html.dark [data-ignore-dark="true"] {
  filter: invert(1) hue-rotate(180deg);
}
